html {
  background-color: #2bc6ff;
  font-family: verdana;
}

.header {
  text-align: right;
}

.contents {
  text-align: center;
}

.error {
  color: #fc007d;
}

a {
  text-decoration: none;
  color: #8245ff;
}

ul {
  display: inline-block;
  list-style-type: none;
  text-align: left;
  padding: 0px;
}

h1, h2, #title{
  font-family: cursive;
}

.column {
  float: left;
  height: 200px;
  width: 50%;
}

#left_col {
  display: inline-block;
  text-align: left;
}

#right_col {
  box-sizing: border-box;
  border-left: 1px solid black;
}

footer {
  background-color: #79dbff;
  text-align: right;
  clear: both;
  position: absolute;
  bottom: 0;
  padding-right: 8px;
  padding-bottom: 10px;
  margin-left: -16px;
  width: 100%;
  color: #0053dc;
}

#stats {
  font-style: italic;
  color: #414c5c;
}

input[type=submit] {
  border: none;
  border-radius: 2px;
  background-color: #90fff6;
  cursor: pointer;
}

input[type=submit]:active {
  background-color: #3682f0;
}

input[type=text], input[type=password], textarea {
  border: 1px solid lightblue;
  background-color: #9deeff;
}
